.tree-box {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
}

.tree-box .tree-box--first {
    display: flex;
    flex-direction: row;
}

.tree-box .tree-box--second {
    flex-direction: column;
}
