.subject-card {
    margin: 10px;
    padding: 0px;
    color:white;
    font-size:1rem;
}
    .subject-card h5 {
        font-size: 1.2rem;
        padding-bottom: 0px;
    }

.finished {
    background-color: #FF6D8D;
    color: black;
}

.finished--spec {
    background: #A5FFA0;
    color: black;
}

.not-finished {
    background-color: #6E33BB;
}

.not-finished--spec {
    background: #001893;
}

.subject-card .card-subtitle {
    font-size: 0.5rem;
}

.subject-card .prereq {
    font-size: 0.8rem;
}
.prereq-list {
    font-size: 0.6rem;
    background-color: white;
    padding: 5px;
    margin-bottom: 2px;
    margin-top: 2px;
    border-radius: 25px;
}
.prereq {
    background-color: #FF6D8D;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 25px;
        text-align: center;
}
.credit-text{
    margin-bottom:3px;
}
.card-body{
    padding-bottom: 4px;
}
