@page "/syllabi"
@using Newtonsoft.Json
@using SubjectDependencyGraph.Blazor.PageComponents
@using SubjectDependencyGraph.Blazor.PageComponents.Admin
@using SubjectDependencyGraph.Blazor.Resources
@using SubjectDependencyGraph.Shared.Services
@using SubjectDependencyGraph.Shared.Models;
@inject ISyllabiService SyllabiService

<PageTitle>@AppStrings.Syllabi</PageTitle>
    @if (syllabi == null)
{
    <p><em>@AppStrings.LoadingMessage</em></p>
}
else
{
    <SyllabusAdminComponent Syllabi="syllabi" ReadOnly="true"></SyllabusAdminComponent>
}

@code {
    private IEnumerable<Syllabus>? syllabi;
    protected override void OnInitialized()
    {

        syllabi = SyllabiService.Syllabi;

        base.OnInitialized();
    }
}
