@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="page">
    <main>
        <MudTabs ActivePanelIndexChanged="IndexChanged" Elevation="4" Rounded="true" Color="@Color.Primary">
            <MudTabPanel Text="Hello" />
            <MudTabPanel Text="syllabi list" />
            <MudTabPanel Text="Subjects" />
            <MudTabPanel Text="Equvalence" />
            <MudTabPanel Text="Admin"/>
        </MudTabs>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
@code {
    protected void IndexChanged(int index)
    {
        Navigation.NavigateTo(_routingTable[index]);
    }

    protected string[] _routingTable =
    [
        "",
        "syllabi",
        "subjects",
        "equallist",
        "admin"
    ];
}